body {
	font-family: "Lucida Sans", sans-serif;
	margin: 0;
}

.top {
	width: 100%;
	position: fixed;
	background-color: white;
}

.log {
	overflow: auto;
	margin-right: 20px;
	text-align: right;
}

.logout {
	cursor: pointer;
	float: right;
	padding: 7px 15px;
	/*margin: 5px;*/
	font-weight: bold;
	background-color: #6D9475;
	border: none;
	border-radius: 4px;
}

.logout a {
	text-decoration: none;
	color: white;
}

.bar {
	margin-top: 12px;
	width: 100%;
}

ul {	
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #81D592;
}

li {
	float: left;
}

li a {
	cursor: pointer;
	width: 115px;
	display: block;
	color: white;
	text-align: center;
	padding: 15px 18px;
	text-decoration: none;
	font-weight: bold;
}

li a:hover {
	background-color: #6D9475;
}

li a:active {
	background-color: #4B8B58;
}

.cart:hover {
	color: orange;
}

.about {
	background-color: #4B8B58;
}

.bottom {
	/*font-weight: bold;*/
	/*text-align: center; */
	padding-top: 20px;
	margin: 0 auto;
	width: 1200px;
	font-size: 20px;
}